@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 146, 162);
    height: 15vh;
}

.header-title {
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 3.5em;
    font-weight: 100;
    color: rgb(10, 10, 44);
}


nav { 
    background-color: pink;
    position: relative;
    height: 5.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

nav ul {
    margin: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

nav ul li.main-list {
    display: inline-block;
    position: relative;
    width: 10em;
    margin: 1vh;
    padding: 0.6vh;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    scroll-behavior: smooth;
}

nav ul li {
    display: inline-block;
    position: relative;
    width: 10em;
    margin: 1vh;
    padding: 0.6vh;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    scroll-behavior: smooth;
}

nav ul li a.main-items {
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    text-align: center;
    font-weight:600;
    font-size: 16px;
    color: #0088a9;
    text-decoration: none;
    display: flex;
    padding-top: 2px;
    margin: auto;
}

nav ul li a {
    font-family: "Montserrat", sans-serif;
    justify-content:left;
    text-align: left;
    font-weight:600;
    font-size: 16px;
    color: #0088a9;
    text-decoration: none;
    display: flex;
    padding-top: 2px;
    margin: auto;
}

nav ul li:hover {
    background-color: rgb(252, 223, 228)
}

nav ul li a:hover {
    color: #255773;
}

.dropdown {
    display: block;
    position: relative;
    opacity: 0;
    visibility: hidden;
    list-style: none;
    left: 0px;
    top: 38px;
    padding: 7px 7px;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    scroll-behavior: smooth;
    position: absolute;
    z-index: 999;
    margin: 0%;
}

.dropdown li {
    margin: 0;
    border-radius: 10px;
    display: block;
    padding: 10px;
    width: 100%;
}

.dropdown li a {
    text-align: left;
    text-wrap: nowrap;
}

nav ul li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.container {
    padding: 0rem;
  }

  .admin {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: -60px;
    color: #051d49;
    margin-bottom: 10px;
}

.admin_wrapper {
    display: grid;
    place-items: center;
}


.img_history {
    display: grid;
    height: fit-content;

}

#img_his {
    margin-top: 35px;
    height: 500px;
    margin-left: 55px;
    padding-bottom: 20px;
}

#img_his:hover {
   box-shadow: 0 50px 80px rgba(0,0,0,.2);
}


.history_wrapper {
    display: grid;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.history_text {
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
    color: #102b5d;
    font-size: 22px;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 40px;
    padding-right: 55px;
    line-height: 30px;
}

.txt_history {
    margin-top: 40px;
}
